<h1>About</h1>
<p>
  Using PiNAS for the first time might be a little confusing.
  That's why this page will explain how to make use of this neat web application.
</p>

<h2><span class="glyphicon glyphicon-music"></span> Music</h2>
<p>
  This wil be an explanation about how to stream music from the site.
</p>

<h2><span class="glyphicon glyphicon-film"></span> Videos</h2>
<p>
  This wil be an explanation about how to stream videos from the site.
</p>